
.picture-name {
    font-size: 24px;
}
.picture-frame {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 605px;
    height: 605px;
    border: 0.1px solid lightgrey;
}

.outer-vertical-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inner-vertical-blocks {
    position: relative;
    width: 100%;
    color: #050102;
}

.nested-horizontal-blocks {
    position: relative;
    height: 100%;
    color: #050102;
}

.nested-vertical-blocks {
    position: relative;
    width: 50%;
    height: 100%;
    color: #050102;
}


/* BLOCK__1 */

.outer-vertical-block__1 {
    width: 75px;
    height: 605px;
}

.inner-vertical-block__1_1 {
    background-color: #fdfbfc;
    height: 75px;
    box-shadow: 0 0 0 inset, 0 -8px 0 inset;
}

.inner-vertical-block__1_2 {
    background-color: #fdfbfc;
    height: 150px;
    box-shadow: 0 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__1_3 { /* 3+4 */
    background-color: #fdfbfc;
    height: 225px;
    box-shadow: 0 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__1_4 { /* 5+6+7 */
    background-color: #fbd513;
    height: 150px;
    box-shadow: 0 8px 0 inset, -8px 0 0 inset;
}


/* BLOCK__2 */

.outer-vertical-block__2 {
    width: 302px;
    height: 605px;
}

.inner-vertical-block__2_1 {
    display: flex;
    flex-direction: row;
    background-color: #fdfbfc;
    height: 75px;
}

.nested-horizontal-block__2_1_1 {
    background-color: #fdfbfc;
    width: 25%;
    box-shadow: 0 0 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_1_2 {
    background-color: #fdfbfc;
    width: 75%;
    box-shadow: 8px 0 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__2_2 { /* 2+3 */
    background-color: #e40d03;
    height: 300px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__2_3 { /* 4 */
    display: flex;
    flex-direction: row;
    height: 75px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_3_1 {
    background-color: #050102;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_3_2 {
    background-color: #fdfbfc;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__2_4 { /* 5 */
    display: flex;
    flex-direction: row;
    height: 75px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_4_1 {
    background-color: #050102;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_4_2 {
    background-color: #fdfbfc;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__2_5 { /* 6 */
    display: flex;
    flex-direction: row;
    height: 57px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-horizontal-block__2_5_1 {
    background-color: #fdfbfc;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px 0 0 inset;
}

.nested-horizontal-block__2_5_2 {
    background-color: #050102;
    width: 50%;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__2_6 { /* 7 */
    display: flex;
    flex-direction: row;
    background-color: #fdfbfc;
    height: 19px;
}

.nested-vertical-block__2_6_1 {
    box-shadow: 8px 0 0 inset, -8px 0 0 inset;
}

.nested-vertical-block__2_6_2 {
    box-shadow: 8px 8px 0 inset, 0 0 0 inset;
}

.autograph {
    position: relative;
    margin-left: 15px;
    margin-top: 8px;
    font-size: 8px;
}


/* BLOCK__3 */

.outer-vertical-block__3 {
    width: 189px;
    height: 605px;
}

.inner-vertical-block__3_1 {
    background-color: #fbd513;
    height: 75px;
    box-shadow: 8px 0 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__3_2 { 
    background-color: #fbd513;
    height: 150px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__3_3 {
    display: flex;
    flex-direction: row;
    height: 150px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-vertical-block__3_3_1 {
    background-color: #fdfbfc;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.nested-vertical-block__3_3_2 {
    background-color: #fdfbfc;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__3_4 {
    background-color: #fdfbfc;
    height: 75px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__3_5 { /* 5+6 */
    background-color: #120bb3;
    height: 132px;
    box-shadow: 8px 8px 0 inset, -8px -8px 0 inset;
}

.inner-vertical-block__3_6 { /* 7 */
    background-color: #fdfbfc;
    height: 19px;
    box-shadow: 0 8px 0 inset, -8px 0 0 inset;
}


/* BLOCK__4 */

.outer-vertical-block__4 {
    width: 38px;
    height: 605px;
}

.inner-vertical-block__4_1 { /* 1+2+3+4 */
    background-color: #fdfbfc;
    height: 450px;
    box-shadow: 8px 0 0 inset, 0 -8px 0 inset;
}

.inner-vertical-block__4_2 { /* 5+6+7 */
    background-color: #e40d03;
    height: 150px;
    box-shadow: 8px 8px 0 inset, 0 0 0 inset;
}